.gag-container-bg {
    height: 100%;
    background-image: url("../../public/images/gag-login-bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    &::before {
        content: "";
        background-color: rgb(35 52 100 / 60%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.orange-gradient-bg {
    background: linear-gradient(
        45deg,
        rgb(235, 99, 36) 0%,
        rgb(243, 146, 35) 50%,
        rgb(235, 99, 36) 100%
    ) !important;
}
